.score-list-item {
  max-width: 24rem;
  padding-block: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  color: green;
  transition: 0.3s;
  border-radius: 100%;
}

.back-button:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
